#Hi{
    background-color: #222;
    color:green;
    
}

.Hi{
    background-color: blueviolet;
    color:greenyellow
}

.Buy1_class{
    background-color: aqua;
    color:chocolate
}

.Buy2_class{
    background-color: brown;
    color:bisque
}