body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(162, 162, 151);
}

.clock {
    font-size: 4rem;
    background: black;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 10px;
    color: #ff6f00;
    font-family: 'Courier New', monospace;
    box-shadow: 0 0 20px rgba(108, 110, 108, 0.5);
    border: black 1px solid;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.821);
}
.buttons {
    margin-top: 20px;
}
button {
    font-size: 1.2rem;
    padding: 12px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(54, 64, 64);
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(223, 32, 7, 0.94);
}

h2 {
    font-size: 2.5rem;
    color: #494644;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(68, 67, 66, 0.821);
}