body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

div{
    width: 150px;
    height: 150px;
    background-color: brown;
    border-top-left-radius: 80%;
    border-bottom-right-radius: 80%;
}
div:hover{
    transform: scale(1.3) rotate(2880deg) translateX(150px) ;
    background-color: blue;
    transition: ease-in-out 3s;
}